/* Default settings */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #1C1E21;
}

/* Nav */
.nav {
    background-color: #262a2e;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 5.6rem;
    padding: 0 2rem;
    /* border-bottom: 1px solid white; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.nav-first-part,
.nav-second-part,
.nav-third-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* First side of nav */
.nav-first-part {
    justify-self: flex-start;
}

.fb-logo {
    width: 4rem;
}

.search-input {
    margin-left: 2rem;
    padding: 1rem 2rem;
    border-radius: 6rem;
    background-color: #40454b;
    color: #adb5bd;
    border: none;
}

.search-input::placeholder {
    color: #adb5bd;
}

.search-input:focus {
    border: none;
    outline: none;
}

/* Second side of nav */
.nav-second-part-btn {
    color: #adb5bd;
    font-size: 2.2rem;
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-second-part-btn:not(.nav-second-part-active):hover {
    cursor: pointer;
    background-color: #40454b;
    border: 4px solid #262a2e;
    border-radius: 14px;
}

.nav-second-part-active {
    color: #0466c8;
    border-bottom: 2px solid #0466c8;
}

/* Third part of nav */
.nav-third-part {
    justify-self: flex-end;
}

.nav-third-part-btn {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #40454b;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    margin-left: 1.4rem;
}

.nav-third-part-btn:hover {
    cursor: pointer;
    background-color: #4b5158;
}

.profile-btn img {
    width: 4rem;
    border-radius: 50%;
}

.profile-btn img:hover {
    filter: brightness(1.1);
}

/* Main ////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-part-of-page {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

/* Left aside */
.left-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90vh;
    overflow-y: auto;
}

.left-aside::-webkit-scrollbar {
    background-color: red;
    width: 0.6rem;
}

.left-aside::-webkit-scrollbar-track {
    background-color: #31363b;
}

.left-aside::-webkit-scrollbar-thumb {
    background-color: rgba(173, 181, 189, 08);
    border-radius: 4px;
    width: 0.8rem;
}

.left-aside-btn {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 8px;
    font-weight: 500;
    transition: all .2s;
}

.left-aside-btn:hover {
    background-color: #40454b;
    cursor: pointer;
}

.left-aside-btn img {
    margin-right: 2rem;
}

.left-aside-profile-photo {
    border-radius: 50%;
}

.left-aside-btn-photo {
    width: 3.8rem;
}

.left-aside-btn i {
    background-color: #31363b;
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cerntral part */
.central-part {
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.central-part-content {
    width: 60%;
}

/* Relations ///////////////////////////////////////////////////////////////////////////////*/
.relations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.relation {
    width: 13rem;
    height: 23rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .2s ease-in;
}

.relation:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transform: scale(1.05);
}

.add-new-relation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.add-new-relation-btn {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #0466c8;
    color: #fff;
    font-size: 2rem;
    border: none;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.add-new-relation-btn:hover {
    cursor: pointer;
}

.relation-theme {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: contain;
    z-index: -1;
    transition: all .2s ease-in;
}

.relation-logo,
.relation-logo img {
    border-radius: 50%;
}

.relation-logo img {
    border: 4px solid #212529;
}

.relations-more-btn {
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb5bd;
    background-color: #31363b;
    border: none;
    position: absolute;
    right: -2rem;
}

.relations-more-btn:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

/* Create new post area ////////////////////////////////////////////////////////////////////////*/
.create-new-post-area {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #262a2e;
    border-radius: 8px;
}

.create-new-post-area-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 1px #40454b;
}

.create-new-post-img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.create-new-post-input {
    flex-grow: 1;
    height: 3.5rem;
    border-radius: 20px;
    border: none;
    padding: 1.5rem;
    background-color: #40454b;
    color: #adb5bd;
    font-size: 1.8rem;
}

.create-new-post-input:hover {
    background-color: #31363b;
    cursor: pointer;
}

.create-new-post-input::placeholder {
    color: #adb5bd;
}

.create-new-post-input:focus {
    border: none;
    outline: none;
}

.create-new-post-area-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.create-new-post-area-bottom-btn {
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #adb5bd;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.create-new-post-area-bottom-btn:hover {
    cursor: pointer;
    background-color: #40454b;
}

.create-new-post-area-bottom-btn i {
    margin-right: 1rem;
    font-size: 2rem;
}

.live-btn i {
    color: #e63946;
}

.photo-btn i {
    color: #8ac926;
}

.mood-btn i {
    color: #ffca3a;
}